$color__background-body: #fff7e7;
$color__background-screen: #f1f1f1;
$color__background-hr: #3e3e3b;
$color__background-button: #3e3e3b;
$color__background-pre: #eee;
$color__background-ins: #3e3e3b;

$color__text-screen: #3e3e3b;
$color__text-invert: #fff7e7;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #dbae58; //royalblue
$color__link-visited: #3e3e3b; //purple
$color__link-hover: #3e3e3b; //midnightblue
$color__text-main: #404040;
$color__text-yllow: #dbae58;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
